Repository gpt-cmdr/ras-commander: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rtd-no-symlinks, check-mkdocs-no-execute

check-rtd-no-symlinks:
  name: RTD symlink guard
  entry: python hooks/check_rtd_no_symlinks.py
  language: system

check-mkdocs-no-execute:
  name: MkDocs execute guard
  entry: python hooks/check_mkdocs_no_execute.py
  language: system

Update QAQC: Notebooks 16-17 tested, marked as SKIP (GUI)
  agent_tasks/Notebook_Testing_and_QAQC.md
Due: none

Fix notebook 200: Integrate M3Model for A120-00-00 project download
  agent_tasks/Notebook_Testing_and_QAQC.md
  examples/200_fixit_blocked_obstructions.ipynb
Due: none

Update NEXT_TASKS.md: Mark notebook 200 task as completed
  agent_tasks/.agent/NEXT_TASKS.md
Due: none

Add cognitive infrastructure documentation to docs build
  .github/workflows/docs.yml
  .gitignore
  .readthedocs.yaml
  docs/cognitive-infrastructure/index.md
  docs/requirements-docs.txt
  mkdocs.yml
Due: check-rtd-no-symlinks, check-mkdocs-no-execute

Remove --strict from mkdocs build to handle pre-existing warnings
  .github/workflows/docs.yml
Due: none

Enhance documentation for workflow verification and result checking (#12)
  docs/user-guide/hdf-data-extraction.md
  docs/user-guide/plan-execution.md
  docs/user-guide/workflows-and-patterns.md
Due: none

Remove temporary notebook test scripts and add to gitignore
  .gitignore
  run_notebook_test.bat
  run_notebook_test.ps1
Due: none

Fix documentation build failures by adding missing generator script
  .gitignore
  scripts/generate_cognitive_docs.py
Due: none

Add comprehensive documentation build checklist
  .github/DOC_BUILD_CHECKLIST.md
Due: none

Update git-operations agent with documentation build verification
  .claude/agents/git-operations/SUBAGENT.md
Due: none

Fix USGS notebook numbering: consolidate 422 into 912
  examples/422_usgs_real_time_monitoring.ipynb
  examples/912_usgs_real_time_monitoring.ipynb
Due: none

Untrack .claude/outputs/ from main branch
  .claude/outputs/2025-12-15-win32com-hecras-agents-creation.md
  .claude/outputs/README.md
  .claude/outputs/api-consistency-auditor/2025-12-15-session-17-closeout.md
  .claude/outputs/api-consistency-auditor/2025-12-15-validation-framework-audit.md
  .claude/outputs/api-consistency-auditor/README.md
  .claude/outputs/notebook-runner/01_PROJECT_INIT_SUMMARY.txt
  .claude/outputs/notebook-runner/05_execution_log.txt
  .claude/outputs/notebook-runner/06_EXECUTION_SUMMARY.txt
  .claude/outputs/notebook-runner/06_execute_raw_log.txt
  .claude/outputs/notebook-runner/08_parallel_execution_execution_log.json
  .claude/outputs/notebook-runner/2025-12-15-00_Using_RasExamples-test.md
  .claude/outputs/notebook-runner/2025-12-15-01_project_initialization-test.md
  .claude/outputs/notebook-runner/2025-12-15-02_plan_and_geometry_operations-test.md
  .claude/outputs/notebook-runner/2025-12-15-03_unsteady_flow_operations-test.md
  .claude/outputs/notebook-runner/2025-12-15-04_ARTIFACTS_INDEX.md
  .claude/outputs/notebook-runner/2025-12-15-04_cell_ordering_fix.md
  .claude/outputs/notebook-runner/2025-12-15-04_multiple_project_operations-RETEST.md
  .claude/outputs/notebook-runner/2025-12-15-04_multiple_project_operations-test.md
  .claude/outputs/notebook-runner/2025-12-15-05_single_plan_execution-test.md
  .claude/outputs/notebook-runner/2025-12-15-06_executing_plan_sets-test.md
  .claude/outputs/notebook-runner/2025-12-15-07_sequential_plan_execution-RETEST.md
  .claude/outputs/notebook-runner/2025-12-15-07_sequential_plan_execution-test.md
  .claude/outputs/notebook-runner/2025-12-15-08_parallel_execution-RETEST.md
  .claude/outputs/notebook-runner/2025-12-15-08_parallel_execution-test.md
  .claude/outputs/notebook-runner/2025-12-15-09_plan_parameter_operations-test.md
  .claude/outputs/notebook-runner/2025-12-15-CURRENT_SESSION_VERIFICATION.txt
  .claude/outputs/notebook-runner/FINAL_TEST_STATUS_2025-12-15.txt
  .claude/outputs/notebook-runner/INDEX-2025-12-15.md
  .claude/outputs/notebook-runner/NOTEBOOK_06_TEST_COMPLETION.md
  .claude/outputs/notebook-runner/SESSION_LOG_2025-12-15.md
  .claude/outputs/notebook-runner/SESSION_RESULTS_2025-12-15.txt
  .claude/outputs/notebook-runner/SUMMARY.txt
  .claude/outputs/notebook-runner/execution_log.txt
  .claude/outputs/notebook-runner/execution_summary.txt
  .claude/outputs/notebook-runner/notebook_analysis.txt
  .claude/outputs/notebook-runner/run_command.txt
  .claude/outputs/notebook-runner/stderr.txt
  .claude/outputs/notebook-runner/stdout.txt
Due: none

Untrack development files from main branch
  .gitignore
  agent_tasks/.agent/BACKLOG.md
  agent_tasks/.agent/CHECK_RAS_100_PERCENT_ROADMAP.md
  agent_tasks/.agent/CONSTITUTION.md
  agent_tasks/.agent/LEARNINGS.md
  agent_tasks/.agent/MIGRATION_HANDOFF.md
  agent_tasks/.agent/NEXT_TASKS.md
  agent_tasks/.agent/PROGRESS.md
  agent_tasks/.agent/SESSION_10_HANDOFF.md
  agent_tasks/.agent/SESSION_16_ASSESSMENT.md
  agent_tasks/.agent/SESSION_SUMMARY_RasExamples_Suffix_Parameter.md
  agent_tasks/.agent/STATE.md
  agent_tasks/API_Consistency_Auditor.md
  agent_tasks/Github_Actions_Notebook_Validation_Hook.md
  agent_tasks/HMS_COMMANDER_COORDINATION.md
  agent_tasks/Notebook_Testing_and_QAQC.md
  agent_tasks/RASMapper_Automation_Sequence_Analysis.md
  agent_tasks/ROADMAP.md
  agent_tasks/WORKTREE_WORKFLOW.md
  agent_tasks/api-consistency-auditor/BASELINE_AUDIT.md
  agent_tasks/api-consistency-auditor/PHASE_0_SUMMARY.md
  agent_tasks/conversation_insights_agent_plan.md
  agent_tasks/conversation_insights_data_structures.md
  agent_tasks/cross-repo/_TEMPLATE_implementation_request.md
  agent_tasks/feature_dev_roadmap_assessment.md
  agent_tasks/floodplain_mapping_notebook_consolidation.md
  agent_tasks/git_worktree_status.md
Due: none

Add branch policy documentation to git-operations agent
  .claude/agents/git-operations/SUBAGENT.md
Due: none

Fully untrack agent_tasks/ and simplify gitignore
  .gitignore
  agent_tasks/.gitignore
  agent_tasks/README.md
  agent_tasks/cross-repo/README.md
  agent_tasks/ras-commander-api-research/README.md
  agent_tasks/tasks/.gitkeep
Due: none

Remove remaining agent_tasks file from tracking
  agent_tasks/.agent/PROGRESS_ARCHIVE.md
Due: none

Add Claude Code Agentic Infrastructure to README
  README.md
Due: none

Fix docs build: update path to generate_cognitive_docs.py
  .github/workflows/docs.yml
  .readthedocs.yaml
Due: check-rtd-no-symlinks

Fix generate_cognitive_docs.py path calculation
  .claude/scripts/generate_cognitive_docs.py
Due: none

Fix ReadTheDocs build timeout
  .readthedocs.yaml
  setup.py
Due: check-rtd-no-symlinks

Phase 0.5: Split plaintext geometry notebook into 1D and 2D
  docs/examples/index.md
  examples/201_1d_plaintext_geometry.ipynb
  examples/202_2d_plaintext_geometry.ipynb
  examples/AGENTS.md
  mkdocs.yml
Due: check-mkdocs-no-execute

Phase 1: Update 400-700 series notebooks to use Parameters
  examples/400_1d_hdf_data_extraction.ipynb
  examples/401_steady_flow_analysis.ipynb
  examples/410_2d_hdf_data_extraction.ipynb
  examples/411_2d_hdf_pipes_and_pumps.ipynb
  examples/412_2d_detail_face_data_extraction.ipynb
  examples/420_breach_results_extraction.ipynb
  examples/500_remote_execution_psexec.ipynb
  examples/600_floodplain_mapping_gui.ipynb
  examples/601_floodplain_mapping_rasprocess.ipynb
  examples/602_floodplain_mapping_python_gis.ipynb
  examples/610_fluvial_pluvial_delineation.ipynb
  examples/700_core_sensitivity.ipynb
  examples/701_benchmarking_versions_6.1_to_6.6.ipynb
  examples/710_mannings_sensitivity_bulk_analysis.ipynb
  examples/711_mannings_sensitivity_multi_interval.ipynb
  examples/720_atlas14_aep_events.ipynb
  examples/721_atlas14_caching_demo.ipynb
  examples/722_atlas14_multi_project.ipynb
Due: none

Phase 1: Update 100-series and 800-900 series notebooks to use Parameters
  examples/101_project_initialization.ipynb
  examples/102_multiple_project_operations.ipynb
  examples/103_plan_and_geometry_operations.ipynb
  examples/104_plan_parameter_operations.ipynb
  examples/110_single_plan_execution.ipynb
  examples/111_executing_plan_sets.ipynb
  examples/112_sequential_plan_execution.ipynb
  examples/113_parallel_execution.ipynb
  examples/120_automating_ras_with_win32com.ipynb
  examples/121_legacy_hecrascontroller_and_rascontrol.ipynb
  examples/800_quality_assurance_rascheck.ipynb
  examples/801_advanced_structure_validation.ipynb
  examples/802_custom_workflows_and_standards.ipynb
  examples/900_aorc_precipitation.ipynb
  examples/901_aorc_precipitation_catalog.ipynb
  examples/910_usgs_gauge_catalog.ipynb
  examples/911_usgs_gauge_data_integration.ipynb
  examples/912_usgs_real_time_monitoring.ipynb
  examples/913_bc_generation_from_live_gauge.ipynb
  examples/914_model_validation_with_usgs.ipynb
Due: none

Phase 1: Update 200-300 series notebooks to use Parameters
  examples/201_1d_plaintext_geometry.ipynb
  examples/202_2d_plaintext_geometry.ipynb
  examples/300_unsteady_flow_operations.ipynb
  examples/310_dss_boundary_extraction.ipynb
  examples/311_validating_dss_paths.ipynb
  examples/320_1d_boundary_condition_visualization.ipynb
Due: none

Phase 2: Convert star imports to explicit imports (34 notebooks)
  examples/100_using_ras_examples.ipynb
  examples/101_project_initialization.ipynb
  examples/102_multiple_project_operations.ipynb
  examples/103_plan_and_geometry_operations.ipynb
  examples/104_plan_parameter_operations.ipynb
  examples/110_single_plan_execution.ipynb
  examples/111_executing_plan_sets.ipynb
  examples/112_sequential_plan_execution.ipynb
  examples/113_parallel_execution.ipynb
  examples/120_automating_ras_with_win32com.ipynb
  examples/121_legacy_hecrascontroller_and_rascontrol.ipynb
  examples/300_unsteady_flow_operations.ipynb
  examples/311_validating_dss_paths.ipynb
  examples/400_1d_hdf_data_extraction.ipynb
  examples/401_steady_flow_analysis.ipynb
  examples/410_2d_hdf_data_extraction.ipynb
  examples/411_2d_hdf_pipes_and_pumps.ipynb
  examples/412_2d_detail_face_data_extraction.ipynb
  examples/420_breach_results_extraction.ipynb
  examples/500_remote_execution_psexec.ipynb
  examples/600_floodplain_mapping_gui.ipynb
  examples/601_floodplain_mapping_rasprocess.ipynb
  examples/602_floodplain_mapping_python_gis.ipynb
  examples/610_fluvial_pluvial_delineation.ipynb
  examples/611_validating_map_layers.ipynb
  examples/700_core_sensitivity.ipynb
  examples/701_benchmarking_versions_6.1_to_6.6.ipynb
  examples/711_mannings_sensitivity_multi_interval.ipynb
  examples/720_atlas14_aep_events.ipynb
  examples/721_atlas14_caching_demo.ipynb
  examples/722_atlas14_multi_project.ipynb
  examples/800_quality_assurance_rascheck.ipynb
  examples/801_advanced_structure_validation.ipynb
  examples/802_custom_workflows_and_standards.ipynb
Due: none

Optimize docs build: pre-convert notebooks to markdown (30x faster)
  .claude/rules/documentation/mkdocs-config.md
  .claude/scripts/prepare_notebooks_for_docs.py
  .github/workflows/docs.yml
  .readthedocs.yaml
  docs/notebooks/AGENTS.md
  docs/notebooks/README.md
  docs/requirements-docs.txt
Due: check-rtd-no-symlinks

Merge Getting Started into User Guide as first section
  mkdocs.yml
Due: check-mkdocs-no-execute

Update cognitive docs to link source files to GitHub
  .claude/scripts/generate_cognitive_docs.py
Due: none

Fix RasExamples.extract_project() patterns: use suffix instead of output_path
  examples/100_using_ras_examples.ipynb
  examples/101_project_initialization.ipynb
  examples/103_plan_and_geometry_operations.ipynb
  examples/110_single_plan_execution.ipynb
  examples/111_executing_plan_sets.ipynb
  examples/311_validating_dss_paths.ipynb
  examples/500_remote_execution_psexec.ipynb
  examples/600_floodplain_mapping_gui.ipynb
  examples/602_floodplain_mapping_python_gis.ipynb
  examples/701_benchmarking_versions_6.1_to_6.6.ipynb
  examples/800_quality_assurance_rascheck.ipynb
  examples/801_advanced_structure_validation.ipynb
  examples/802_custom_workflows_and_standards.ipynb
  examples/900_aorc_precipitation.ipynb
  examples/901_aorc_precipitation_catalog.ipynb
  examples/911_usgs_gauge_data_integration.ipynb
  examples/912_usgs_real_time_monitoring.ipynb
  examples/914_model_validation_with_usgs.ipynb
Due: none

Add comprehensive user guide pages for new features
  docs/user-guide/gridded-precipitation.md
  docs/user-guide/plan-execution.md
  docs/user-guide/project-file-validation.md
  docs/user-guide/usgs-gauge-data.md
  mkdocs.yml
Due: check-mkdocs-no-execute

Path conditions:
  check-rtd-no-symlinks: any of: ^\.readthedocs\.yaml$
  check-mkdocs-no-execute: any of: ^mkdocs\.yml$
